<script setup lang="ts">
import { ref } from "vue";
import type Table from "@/Table";
import { useTableStore } from "@/stores/table";
import tables from "@/services/tables";

const tableStore = useTableStore();

const clear = () => {
  tableStore.dialogOption = false;
};

const changeTable = () => {
  tableStore.dialogChange = true;
  tableStore.dialogOption = false;
};
</script>

<template>
  <v-dialog v-model="tableStore.dialogOption" persistent width="500">
    <v-card>
      <v-card-title
        class="text-h4 text-center font-weight-bold"
        style="background-color: #d93d44; color: aliceblue"
        >Option</v-card-title
      >
      <v-card-actions v-if="tableStore.editedTable.status === 'ว่าง'">
        <v-btn
          class="text-h6 text-center font-weight-bold"
          block
          @click="tableStore.openTable(tableStore.editedTable)"
          >เปิดโต๊ะ</v-btn
        >
      </v-card-actions>
      <v-card-actions v-if="tableStore.editedTable.status === 'ไม่ว่าง'">
        <v-btn
          class="text-h6 text-center font-weight-bold"
          block
          @click="(tableStore.dialog = true), (tableStore.dialogOption = false)"
          >เปิดเมนู</v-btn
        >
      </v-card-actions>
      <v-card-actions v-if="tableStore.editedTable.status === 'ไม่ว่าง'">
        <v-btn
          class="text-h6 text-center font-weight-bold"
          block
          @click="changeTable"
          >เปลี่ยนโต๊ะ</v-btn
        >
      </v-card-actions>
      <v-card-actions v-if="tableStore.editedTable.status === 'รอทำความสะอาด'">
        <v-btn class="text-h6 text-center font-weight-bold" block to="/clean"
          >ทำความสะอาดโต๊ะ</v-btn
        >
      </v-card-actions>
      <v-card-actions>
        <v-btn class="text-h6 text-center font-weight-bold" block @click="clear"
          >ปิด</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped></style>
