<script setup lang="ts">
import { onMounted, ref } from "vue";
import { mdiTableChair } from "@mdi/js";
import TableDialog from "./TableDialog.vue";
import { useTableStore } from "@/stores/table";

import type Table from "@/Table";
const tableStore = useTableStore();
onMounted(async () => {
  await tableStore.getTables();
});

const optionTable = (tables: Table) => {
  tableStore.optionTable(tables);
};

const addTable = () => {
  tableStore.dialogCRUD = true;
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-container>
          <v-row>
            <v-col></v-col>
            <v-col></v-col>
            <v-col>
              <v-text-field
                density="compact"
                variant="solo"
                label="ค้นหาโต๊ะ"
                append-inner-icon="mdi-magnify"
                single-line
                hide-details
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>

    <v-container style="background-color: aliceblue">
      <v-row>
        <v-col class="col"
          ><v-container>
            <v-row>
              <v-col cols="3" v-for="item of tableStore.tables" :key="item.id">
                <v-card
                  v-bind:style="{
                    backgroundColor:
                      item.status === 'ว่าง'
                        ? '#4CAF50'
                        : item.status === 'ไม่ว่าง'
                        ? '#f76363'
                        : item.status === 'รอทำความสะอาด'
                        ? '#FB9300'
                        : '#fffff',
                  }"
                >
                  <v-container fluid>
                    <v-card>
                      <v-card-item>
                        <div>
                          <h2 style="text-align: center" class="ma-2">
                            {{ item.table }}
                          </h2>
                        </div>
                        <div style="text-align: center">
                          <v-img height="50px">
                            <v-icon
                              icon="mdi-table-chair"
                              style="height: 50px; width: 50px"
                            ></v-icon>
                          </v-img>
                        </div>
                        <div style="text-align: center">
                          <div class="text-p mb-1">
                            จำนวนที่นั่ง: {{ item.seat }}
                          </div>
                        </div>
                        <div style="text-align: center">
                          <div class="text-p mb-1">
                            สถานะ: {{ item.status }}
                          </div>
                        </div>
                        <v-card-actions>
                          <v-btn
                            block
                            @click="optionTable(item)"
                            style="background-color: #ebeced; font-weight: bold"
                            >จัดการโต๊ะ</v-btn
                          >
                        </v-card-actions>
                      </v-card-item>
                    </v-card>
                  </v-container>
                </v-card>
              </v-col>
            </v-row></v-container
          >
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<style>
.btnOpen {
  background-color: rgb(61, 11, 226);
  color: aliceblue;
}
.col {
  height: 528px;
  overflow-y: auto;
}
</style>
