<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const tableStore = useTableStore();

const clear = () => {
  tableStore.dialogCRUD = false;
};

const form = ref<VForm | null>(null);

const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    await tableStore.saveTable();
  }
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="tableStore.dialogCRUD" persistent width="500">
      <v-card>
        <v-card-title>
          <span class="text-h5">Table</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="เลขโต๊ะ 'โต๊ะ 1'"
                    required
                    v-model="tableStore.editedTable.table"
                    :rules="[
                      (v) => !!v || 'item is required',
                      (v) => v.length >= 5 || 'Length must more than 3',
                    ]"
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-select
                    :items="[2, 4, 6, 8]"
                    label="จำนวนที่นั่ง"
                    required
                    v-model="tableStore.editedTable.seat"
                  ></v-select>
                </v-col>
                <v-col cols="12">
                  <v-select
                    :items="['ว่าง', 'ไม่ว่าง', 'ทำควมสะอาด']"
                    label="สถานะ"
                    required
                    v-model="tableStore.editedTable.status"
                  ></v-select>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
