<script lang="ts" setup>
import { useSalaryStore } from "@/stores/salary";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const SalaryStore = useSalaryStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await SalaryStore.saveSalary();
  }
}
</script>
<template>
  <v-dialog v-model="SalaryStore.dialog" persistent width="1024">
    <v-card>
      <v-container style="background-color: #d93d44"
        ><v-row>
          <v-col style="font-size: 50px; text-align: center; color: aliceblue"
            >เงินเดือนพนักงาน
          </v-col></v-row
        ></v-container
      >
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="6">
                <v-text-field
                  label="ชื่อพนักงาน*"
                  required
                  v-model="SalaryStore.editedSalary.name"
                  :rules="[
                    (v) => !!v || 'กรุณาใส่ชื่อพนักงาน',
                    (v) => v.length > 5 || 'ชื่อพนักงานต้องมากกว่า 5 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="ตำแหน่ง*"
                  required
                  v-model="SalaryStore.editedSalary.position"
                  :rules="[(v) => !!v || 'กรุณาใส่ตำแหน่งพนักงาน']"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="วันที่*"
                  required
                  v-model="SalaryStore.editedSalary.work_date"
                  :rules="[(v) => !!v || 'กรุณาใส่วันที่ทำงาน']"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="เวลาที่เข้างาน*"
                  required
                  v-model="SalaryStore.editedSalary.work_in"
                  :rules="[(v) => !!v || 'กรุณาใส่เวลาที่เข้างาน']"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="เวลาที่ออกงาน*"
                  required
                  v-model="SalaryStore.editedSalary.work_out"
                  :rules="[(v) => !!v || 'กรุณาใส่เวลาที่ออกงาน']"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="จำนวนเวลาที่ทำงาน*"
                  required
                  v-model="SalaryStore.editedSalary.work_hour"
                  :rules="[(v) => !!v || 'กรุณาใส่จำนวนเวลาที่ทำงาน']"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="เงินเดือน*"
                  required
                  v-model="SalaryStore.editedSalary.salary"
                  :rules="[(v) => !!v || 'กรุณาใส่เงินเดือน']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*ระบุช่องที่ต้องการกรอก</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          style="font-size: 20px; background-color: #d93d44; color: aliceblue"
          variant="text"
          @click="SalaryStore.dialog = false"
        >
          ยกเลิก
        </v-btn>
        <v-btn
          variant="text"
          @click="save"
          style="font-size: 20px; background-color: #388e3c; color: aliceblue"
          >บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
