<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useOrderStore } from "@/stores/order";
import CashViewVue from "@/views/cash/CashView.vue";
const form = ref<VForm | null>(null);
const orderStores = useOrderStore();
const useCash = CashViewVue;
</script>
<template>
  <v-dialog v-model="orderStores.dialog" persistent width="1024">
    <v-card>
      <v-container style="background-color: #d93d44"
        ><v-row>
          <v-col style="font-size: 50px; text-align: center; color: aliceblue"
            >ชำระเงิน
          </v-col></v-row
        ></v-container
      >
      <v-container> test </v-container>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          variant="text"
          @click="orderStores.dialog = false"
          style="font-size: 20px; background-color: #d93d44; color: aliceblue"
        >
          ปิด
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
