<script setup lang="ts">
import {
  mdiRoomService,
  mdiCash,
  mdiFoodTurkey,
  mdiClockOutline,
  mdiFormatListBulleted,
} from "@mdi/js";
import { onMounted } from "vue";
import { useOrderStore } from "@/stores/order";
import { ref } from "vue";
import { useTableStore } from "@/stores/table";
import { computed } from "vue";
import CashDialog from "./CashDialog.vue";
import type Order from "@/types/Order";
import order from "@/services/order";
import { useMessageStore } from "@/stores/message";
import type OrderItem from "@/types/OrderItem";
const messageStore = useMessageStore();
const tableStore = useTableStore();
const orderStores = useOrderStore();
onMounted(async () => {
  await orderStores.getOrders();
});
onMounted(async () => {
  await tableStore.getTables();
});
let clickBill = ref(false);
let cashPay = ref(false);
let qrPay = ref(false);
console.log(clickBill);
let totalprice = ref();
let billtable = ref();
const currentOrderId = ref();
orderStores.orders[currentOrderId.value];
let currentOrderItem = ref<Order>({ orderItems: [] });
const showbill = function (id: any) {
  clickBill.value = true;
  for (let i = 0; i <= orderStores.orders.length; i++) {
    if (id === orderStores.orders[i]) {
      totalprice.value = orderStores.orders[i].total;
      billtable.value = orderStores.orders[i].table?.id;
      currentOrderId.value = orderStores.orders[i].id;
      console.log(currentOrderId.value);
      console.log(billtable.value);
      console.log(orderStores.orders[i].orderItems);
      currentOrderItem.value = orderStores.orders[i];
      console.log(currentOrderItem.value);
    }
  }
};
const paywithcash = function (id: number) {
  orderStores.deleteOrder(currentOrderId.value);
  clickBill.value = false;
  messageStore.showConfirm("ชำระเงินเสร็จสิ้น");
  tableStore.editedTable.status = "รอทำความสะอาด";
  tableStore.saveTable();
};
const paywithqr = function () {
  orderStores.deleteOrder(currentOrderId.value);
  clickBill.value = false;
  messageStore.showConfirm("ชำระเงินเสร็จสิ้น");
};
const currentTable = ref();
</script>

<template>
  <CashDialog></CashDialog>
  <VContainer>
    <VRow>
      <VCol>
        <VContainer style="overflow-y: auto; height: 640px">
          <VRow>
            <VCol
              cols="4"
              v-for="(item, index) of orderStores.orders"
              :key="index"
            >
              <VCard elevation="3">
                <VCardTitle
                  class="text-h8 text-center font-weight-bold"
                  style="background-color: #d93d44; color: aliceblue"
                  >โต๊ะที่: {{ item?.table?.id }}
                </VCardTitle>
                <div>
                  <VCardSubtitle class="ma-2">
                    <VListItem
                      prepend-icon="mdi-room-service"
                      title=" ทานที่ร้าน"
                    ></VListItem>
                  </VCardSubtitle>
                  <VCardSubtitle class="ma-2">
                    <VListItem prepend-icon="mdi-cash"
                      >{{ item.total }} บาท</VListItem
                    >
                  </VCardSubtitle>
                </div>
                <VDivider class="mx-4"></VDivider>
                <VCardActions class="justify-center">
                  <!-- <v-btn class="ma-1 btnCash"> ชำระเงิน </v-btn> -->
                  <VBtn class="btnBill" @click="showbill(item)"> ดูบิล </VBtn>
                </VCardActions>
              </VCard>
            </VCol>
          </VRow>
        </VContainer></VCol
      >
      <VCol cols="4">
        <VContainer>
          <VCol style="background-color: #d93d44; height: 600px">
            <div>
              <VCard elevation="3">
                <VCardTitle
                  class="text-h8 text-center font-weight-bold"
                  style="background-color: #d93d44; color: aliceblue"
                  >โต๊ะที่: {{ billtable }}
                </VCardTitle>
                <div>
                  <VCardSubtitle class="ma-2">
                    <VListItem
                      prepend-icon="mdi-room-service"
                      title=" ทานที่ร้าน"
                    ></VListItem>
                  </VCardSubtitle>
                  <VCardSubtitle class="ma-2">
                    <VListItem prepend-icon="mdi-clock-outline"
                      >วันที่:
                      {{
                        currentOrderItem.createdDate
                          ?.toString()
                          .substring(0, 10)
                      }}

                      {{
                        currentOrderItem.createdDate
                          ?.toString()
                          .substring(
                            11,
                            currentOrderItem.createdDate.toString().length - 5
                          )
                      }}
                    </VListItem>
                  </VCardSubtitle>
                  <VCardSubtitle class="ma-2">
                    <VListItem
                      prepend-icon="mdi-food-turkey"
                      title=" รายการอาหาร"
                    ></VListItem>
                    <VListItem
                      v-for="(item, index) of currentOrderItem.orderItems"
                      :key="index"
                      >{{ index + 1 }}. {{ item.name }}
                      {{ item.amount }}</VListItem
                    >
                    <div></div>
                  </VCardSubtitle>
                  <VCardSubtitle class="ma-2">
                    <VListItem prepend-icon="mdi-format-list-bulleted"
                      >จำนวนรวม:
                      {{ currentOrderItem.amount }}
                    </VListItem>
                  </VCardSubtitle>
                  <VCardSubtitle class="ma-2">
                    <VListItem prepend-icon="mdi-cash"
                      >รวมทังสิ้น: {{ totalprice }} บาท</VListItem
                    >
                  </VCardSubtitle>
                </div>
                <VDivider class="mx-4"></VDivider>
                <VCardActions class="justify-center">
                  <VBtn
                    class="ma-1 btnCash"
                    v-bind:disabled="!clickBill"
                    @click="paywithcash(billtable)"
                  >
                    ชำระด้วยเงินสด
                  </VBtn>
                  <VBtn
                    class="ma-1 btnCash"
                    v-bind:disabled="!clickBill"
                    @click="paywithqr()"
                  >
                    ชำระด้วย QR Code
                  </VBtn>
                </VCardActions>
              </VCard>
            </div>
          </VCol>
        </VContainer>
      </VCol>
    </VRow>
  </VContainer>
</template>

<style scoped>
.btnBill {
  background-color: #36f4d2;
  color: black;
}
.btnCash {
  background-color: #ffc107;
  color: black;
}
</style>
