<template>
  <v-app-bar color="#D93D44" style="color: aliceblue">
    <v-container style="text-align: center" class="text-h4">
      ร้านอาหาร Soft Brain
    </v-container>
  </v-app-bar>
</template>
