<script lang="ts" setup>
import { useEmpStore } from "@/stores/emp";
import { onMounted, ref, computed } from "vue";
import EmployeeDialong from "./EmployeeDialong.vue";

const EmpStore = useEmpStore();

onMounted(async () => {
  await EmpStore.getEmp();
});

let search = ref("");

let filterItem = computed(function () {
  return EmpStore.emp.filter((item) => {
    if (!search.value) return item;
    return item.name.toLowerCase().includes(search.value.toLowerCase());
  });
});
</script>
<template>
  <EmployeeDialong></EmployeeDialong>

  <v-container>
    <v-row>
      <v-col>
        <v-btn
          class="ma-1"
          @click="EmpStore.dialog = true"
          style="background-color: #6d6e6f; color: aliceblue"
          >เพิ่มข้อมูลพนักงาน</v-btn
        >
      </v-col>
      <v-col></v-col>
      <v-col>
        <v-text-field
          density="compact"
          variant="solo"
          label="ค้นหาพนักงาน"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12"
        ><v-table fixed-header height="560px">
          <thead>
            <tr>
              <th style="text-align: center">รหัสพนักงาน</th>
              <th style="text-align: center">ชื่อพนักงาน</th>
              <th style="text-align: center">เพศ</th>
              <th style="text-align: center">ตำแหน่ง</th>
              <th style="text-align: center">เบอร์โทรศัพท์</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of filterItem" :key="item.id">
              <td style="text-align: center">{{ item.id }}</td>
              <td style="text-align: center">{{ item.name }}</td>
              <td style="text-align: center">{{ item.gender }}</td>
              <td style="text-align: center">{{ item.position }}</td>
              <td style="text-align: center">{{ item.tel }}</td>
              <td>
                <v-btn class="mr-2 btnEdit" @click="EmpStore.editEmp(item)"
                  ><v-icon class="ma-2">mdi-pencil-box-multiple-outline</v-icon
                  >เเก้ไข</v-btn
                ><v-btn class="btnDel" @click="EmpStore.deleteEmp(item.id!)"
                  ><v-icon class="ma-2"> mdi-trash-can-outline</v-icon>ลบ</v-btn
                >
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.btnEdit {
  background-color: #4caf50;
  color: aliceblue;
}
.btnDel {
  background-color: #d93d44;
  color: aliceblue;
}
</style>
