<script setup lang="ts">
import { ref, computed, onMounted } from "vue";
import BottomNav from "@/components/BottomNav.vue";
import { useFoodStore } from "@/stores/food";
import { useOrderStore } from "@/stores/order";

import type Food from "@/types/Food";
import type { VForm } from "vuetify/components";

const foodStore = useFoodStore();
const orderStore = useOrderStore();
const backendURL = import.meta.env.VITE_BACKEND_URL;

onMounted(async () => {
  await foodStore.getFoodsByCategory(foodStore.category);
});

const addOrder = (food: Food, amount: number) => {
  orderStore.addOrder(food, amount);
  clearTextField();
};

const clearTextField = () => {
  amount.value = 1;
};

let search = ref("");

let filterItem = computed(function () {
  return foodStore.foods.filter((item) => {
    if (!search.value) return item;
    return item.name.toLowerCase().includes(search.value.toLowerCase());
  });
});

const colorPick = (id: number) => {
  return id % 2 === 0 ? "bg-pri text-h3" : "bg-sec text-h3";
};

const colorPick2 = (id: number) => {
  return id % 2 === 0 ? "bg-pri-01" : "bg-sec-01";
};

const amount = ref<number>(1);
const increaseAmount = () => {
  if (amount.value >= 99) {
    return;
  }
  amount.value++;
};

const decreaseAmount = () => {
  if (amount.value <= 1) {
    return;
  }
  amount.value--;
};
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);

const addBasket = async (food: Food, amount: number) => {
  const { valid } = await form.value!.validate();
  if (valid) {
    orderStore.addOrder(food, amount);
    clearTextField();
  } else {
    alert("ใส่จำนวนให้ถูกต้อง");
    clearTextField();
  }
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="6">
        <v-toolbar color="white" flat style="height: 35px" class="rounded-pill">
          <v-col cols="12">
            <v-text-field
              label="ค้นหาเมนู ..."
              color="brown"
              class="mt-n6 pl-5 pr-5"
              filled
              dense
              variant="underlined"
              background-color="grey lighten-4"
              style="width: 100%"
              append-inner-icon="mdi-magnify"
              v-model="search"
            ></v-text-field>
          </v-col>
        </v-toolbar>
      </v-col>
    </v-row>
  </v-container>
  <v-container>
    <h4>Category</h4>
    <v-row class="mt-n4">
      <v-col cols="12">
        <v-chip-group
          mandatory
          selected-class="text-green"
          v-model="foodStore.category"
          filter
        >
          <v-chip> ทั้งหมด </v-chip>
          <v-chip> อาหาร </v-chip>
          <v-chip> ของหวาน </v-chip>
          <v-chip> เครื่องดื่ม </v-chip>
        </v-chip-group>
      </v-col>
    </v-row>
  </v-container>

  <v-container class="con-f">
    <h4>Menu</h4>
    <v-form ref="form" v-model="valid">
      <v-expansion-panels variant="accordion">
        <v-expansion-panel
          v-for="item of filterItem"
          :key="item.id"
          style="background-color: transparent"
          class="ma-2"
        >
          <v-card :class="colorPick(item.id!)">
            <v-expansion-panel-title expand-icon="mdi-cart-outline">
              <v-row>
                <v-list-item>
                  <template v-slot:prepend>
                    <v-avatar size="120">
                      <v-img
                        :src="`${backendURL}/foods/image/${item.image}`"
                        class="menuPic"
                      ></v-img>
                    </v-avatar>
                  </template>
                  <v-list-item-title class="text-start">{{
                    item.name
                  }}</v-list-item-title>
                  <v-list-item-subtitle class="text-start"
                    >{{ item.price }} บาท</v-list-item-subtitle
                  >
                </v-list-item>
              </v-row>
            </v-expansion-panel-title>
          </v-card>

          <v-expansion-panel-text
            :class="colorPick2(item.id!)"
            class="text-center"
          >
            <v-container class="ma-0 pa-0" style="overflow: hidden">
              <v-row class="mb-n8">
                <v-col cols="8">
                  <v-row>
                    <v-col cols="3" class="ma-2">
                      <v-btn
                        density="compact"
                        icon="mdi-minus"
                        @click="decreaseAmount()"
                      ></v-btn>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="amount"
                        class="pr-1 mr-n3 pt-1"
                        :rules="[
                          (v) => !!v || '',
                          (v) =>
                            /^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/.test(v) ||
                            '',
                        ]"
                        required
                        maxlength="2"
                        density="compact"
                        variant="solo"
                      >
                      </v-text-field>
                    </v-col>
                    <v-col cols="3" class="ma-2">
                      <v-btn
                        density="compact"
                        icon="mdi-plus"
                        @click="increaseAmount()"
                      ></v-btn>
                    </v-col>
                  </v-row>
                </v-col>

                <v-col cols="4">
                  <v-btn
                    append-icon="mdi-cart-outline"
                    elevation="4"
                    @click="addBasket(item, amount)"
                    >สั่งซื้อ</v-btn
                  >
                </v-col>
              </v-row>
            </v-container>
          </v-expansion-panel-text>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-form>
  </v-container>
  <BottomNav></BottomNav>
</template>

<style scoped>
.v-card.borderme {
  border: 2px solid #a58447 !important;
}

.v-card.borderout {
  border: 1px solid #bcaaa4 !important;
}

.black--text {
  color: black;
  font-weight: 600;
}

.catagoryPic {
  height: 90px;
  max-width: 100px;

  object-fit: contain;
}

.menuPic {
  object-fit: contain;
}

.bg-sec {
  background-color: rgb(254, 215, 174, 0.3);
}

.bg-pri {
  background-color: rgb(209, 235, 255, 0.3);
}

.bg-sec-01 {
  background-color: rgba(255, 200, 98, 0.932);
}

.bg-pri-01 {
  background-color: rgba(104, 190, 255, 0.692);
}

.con-f {
  max-height: 55vh;
  overflow-y: auto;
}

.con-l {
  height: 40vh;
  overflow-y: auto;
  background-color: rgb(255, 245, 228);
}

.right-corner {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  background-color: rgb(182, 226, 161);
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
  outline: none;
}

.btn-16 {
  border: none;
  color: #000;
}

.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.5s ease;
}

.btn-16:hover {
  color: #000;
}

.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-16:active {
  top: 2px;
}
</style>
