<script setup lang="ts">
import { useOrderStore } from "@/stores/order";
import BottomNav from "@/components/BottomNav.vue";
import { useQueFoodStore } from "@/stores/quefoods";
import { useCookStore } from "@/stores/quefood";
import { onMounted } from "vue";

const orderStore = useOrderStore();
const queFoodStore = useQueFoodStore();

const queStore = useCookStore();

onMounted(async () => {
  //await queStore.getQuefoods
  //await queStore.getQuefoods();
  await queStore.getQuefoods();
  // await queStore.getQuefoods("เสร็จสิ้น");
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-container>
          <v-row>
            <v-col>
              <v-table class="con-l mt-n4">
                <thead>
                  <tr class="text-body-2">
                    <th class="text-left text-white">ลำดับ</th>
                    <th class="text-left text-white">รายการ</th>
                    <th class="text-left text-white">สถานะ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(item, index) in queStore.quefoodstatus"
                    :key="index"
                  >
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.orderItems?.name }}</td>
                    <td>{{ item.status }}</td>
                  </tr>
                </tbody>
              </v-table>
              <v-divider style="border-style: dashed" class="mt-2"></v-divider>
              <!-- <v-container>
    <v-row>
      <v-col cols="7">
        <h4>ยอดรวมทั้งหมด :</h4>
      </v-col>
      <v-col cols="5">
        <h4>{{ orderStore.sum }}</h4>
      </v-col>
    </v-row>
  </v-container> -->

              <v-row>
                <v-col cols="12" class="bt-c">
                  <router-link to="/menu"
                    ><v-btn
                      width="100%"
                      style="
                        background-color: #6d6e6f;
                        color: #ffff;
                        font-size: 20px;
                      "
                      >กลับหน้าเมนู</v-btn
                    ></router-link
                  >
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>

  <BottomNav></BottomNav>
</template>
<style scoped>
.con-l {
  height: 55vh;
  overflow-y: auto;
}
thead,
th {
  background-color: #6d6e6f;
}

td {
  font-size: 12px;
}
</style>
