<script setup lang="ts"></script>

<template>
  <v-bottom-navigation grow>
    <v-btn value="menu" to="/stock">
      <v-icon icon="mdi-food"></v-icon>
      เช็คสต็อก
    </v-btn>

    <v-btn value="list" class="text-none" stacked to="/material">
      <v-icon icon="mdi-cart-outline"></v-icon>
      เช็ควัตถุดิบ
    </v-btn>

    <v-btn value="status" class="none" stacked to="/receipt">
      <v-icon icon="mdi-store-clock-outline"></v-icon>
      ซื้อของเข้าร้าน
    </v-btn>
  </v-bottom-navigation>
</template>

<style></style>
