<script setup lang="ts">
import tables from "@/services/tables";
import type Table from "@/Table";
import { useTableStore } from "@/stores/table";
import { onMounted } from "vue";

const TableStore = useTableStore();

onMounted(async () => {
  await TableStore.getCleanStatus("รอทำความสะอาด");
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table fixed-header height="560px">
          <thead>
            <tr>
              <th style="text-align: center">เลขที่โต๊ะ</th>
              <th style="text-align: center">สถานะ</th>
              <th style="text-align: center"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of TableStore.cleanStatus" :key="index">
              <td style="text-align: center">{{ item.id }}</td>
              <td style="text-align: center">{{ item.status }}</td>
              <td style="text-align: center">
                <v-btn
                  :disabled="false"
                  class="btnClean"
                  @click="TableStore.saveTableClean(item, index)"
                  >เสร็จสิ้น</v-btn
                >
              </td>
            </tr>
          </tbody>
        </v-table>
        <ConfirmDialog ref="confirmDialog"></ConfirmDialog>
      </v-col>
    </v-row>
    <FoodDialog></FoodDialog>
  </v-container>
</template>
<style scoped>
.btnClean {
  background-color: #388e3c;
  color: aliceblue;
}
</style>
