<script setup lang="ts">
import { useOrderStore } from "@/stores/order";
import { useCookStore } from "@/stores/quefood";
import { useQueFoodStore } from "@/stores/quefoods";

const queFoodStore = useQueFoodStore();

const queStore = useCookStore();
</script>
<template>
  <v-row class="justify-center">
    <v-dialog v-model="queStore.dialogCancleWait" persistent width="auto">
      <v-card width="500px" height="310px">
        <v-row class="justify-center">
          <v-card
            class="pa-5 ma-2 text-h4 text-center"
            width="100%"
            height="80px"
            color="#d93d44"
            style="color: white"
            ><label>ยืนยันการยกเลิก</label>
          </v-card>
        </v-row>
        <v-card-text class="text-center">
          <label class="text-h2">{{
            queFoodStore.namefoodCancle + " " + queFoodStore.tableCancle
          }}</label>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            size="x-large"
            class="btngr"
            @click="queFoodStore.dialogCancleWait = false"
            >ไม่ใช่</v-btn
          >
          <v-btn size="x-large" class="btng" @click="queFoodStore.CancleWait"
            >ใช่</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped></style>
