<script setup lang="ts">
import { useCookStore } from "@/stores/quefood";
import type Quefoos from "@/types/Quefood";
import { onMounted, ref } from "vue";
import CookDialogCancle from "./CookDialogCancle.vue";
import CookDialogCancleCook from "./CookDialogCancleCook.vue";
const queStore = useCookStore();

const cookingOrder = (id: number, cooking: Quefoos): void => {
  queStore.cookingQue(id);
  cooking.status = "ทำอาหาร";
  //queStore.UpdateStatusCooking(id);
};

const FinishOrder = (id: number, finish: Quefoos): void => {
  queStore.finishQue(id);
  finish.status = "เสร็จสิ้น";
};

onMounted(async () => {
  //await queStore.getQuefoods
  //await queStore.getQuefoods();
  await queStore.getQuefoodsStatusWait("รอเตรียม");
  await queStore.getQuefoodsStatusCook("ทำอาหาร");
  await queStore.getQuefoodsStatusFinsh("รอเสิร์ฟ");
  // await queStore.getQuefoods("เสร็จสิ้น");
});

const selects = ref();
</script>

<template>
  <v-container
    ><CookDialogCancleCook></CookDialogCancleCook>
    <CookDialogCancle></CookDialogCancle>
    <v-row>
      <v-col style="background-color: #ffff" class="ma-3">
        <div style="background-color: #d93d44">
          <h2 style="text-align: center; color: aliceblue">รอเตรียม</h2>
        </div>
        <v-container>
          <v-row>
            <v-col class="col">
              <v-card
                class="pa-5 ma-5"
                elevation="3"
                outlined
                tile
                v-for="(item, index) of queStore.quewait"
                :key="index"
              >
                <v-card-titie
                  >{{ index + 1 + ". "
                  }}{{ item.orderItems?.name }}</v-card-titie
                >

                <v-card-subtitle
                  >{{ "โต๊ะที่ " + item.orderItems?.order?.table?.id + " "
                  }}{{ "สถานะ: " + item.status }} </v-card-subtitle
                ><v-card-actions class="justify-center">
                  <v-btn
                    class="ma-2 btnCook"
                    @click="cookingOrder(item.id!, item)"
                    >ทำอาหาร</v-btn
                  >
                  <v-btn
                    class="ma-2 btnCancel"
                    @click="queStore.deleteQueWait(item.id!)"
                    >ยกเลิก</v-btn
                  >
                  <!-- <v-btn
                    class="ma-2 btnCancel"
                    @click="
                      queStore.DialogCancleQueWait(
                        item.id!,
                        item.orderItems?.name,
                        item.orderItems.
                      )
                    "
                    >ยกเลิก</v-btn
                  > -->
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <v-col style="background-color: #ffff" class="ma-3">
        <div style="background-color: #fb9300">
          <h2 style="text-align: center; color: aliceblue">กำลังทำอาหาร</h2>
        </div>
        <v-container>
          <v-row>
            <v-col class="col">
              <v-card
                elevation="3"
                class="pa-5 ma-5"
                outlined
                tile
                v-for="(item, index) of queStore.quecook"
                :key="index"
              >
                <v-card-titie
                  >{{ index + 1 + ". " }}{{ item.orderItems?.name }}
                </v-card-titie>
                <v-card-subtitle
                  >{{ "โต๊ะที่ " + item.orderItems?.order?.table?.id + " "
                  }}{{ "สถานะ: " + item.status }} </v-card-subtitle
                ><v-card-actions class="justify-center">
                  <v-btn
                    class="ma-2 btnFinish"
                    @click="FinishOrder(item.id!, item)"
                    >เสร็จสิ้น</v-btn
                  ><v-btn
                    class="ma-2 btnCancel"
                    @click="queStore.deleteQueCook(item.id!)"
                    >ยกเลิก</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <v-col style="background-color: #ffff" class="ma-3">
        <div style="background-color: #4caf50">
          <h2 style="text-align: center; color: aliceblue">เสร็จสิ้น</h2>
        </div>
        <v-container>
          <v-row>
            <v-col class="col">
              <v-card
                elevation="3"
                class="pa-5 ma-5"
                outlined
                tile
                v-for="(item, index) of queStore.quefinish"
                :key="index"
              >
                <v-card-titie
                  >{{ index + 1 + ". "
                  }}{{ item.orderItems?.name }}</v-card-titie
                >
                <v-card-subtitle
                  >{{ "โต๊ะที่ " + item.orderItems?.order?.table?.id + " "
                  }}{{ "สถานะ: " + "เสร็จสิ้น" }}
                </v-card-subtitle>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
        <v-btn
          class="ma-2"
          style="color: aliceblue; background-color: #d93d44"
          @click="queStore.ClearListFinish"
          >ลบรายการเสร็จสิ้นทั้งหมด</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.btnCook {
  background-color: #ffc107;
}
.btnCancel {
  background-color: #f44336;
  color: aliceblue;
}

.btnFinish {
  background-color: #388e3c;
  color: aliceblue;
}
.col {
  height: 540px;
  overflow-y: auto;
}
</style>
