<script setup lang="ts">
import { useServeStore } from "@/stores/queserve";
import { useCookStore } from "@/stores/quefood";
import type QueServe from "@/QueServe";
import { useOrderStore } from "@/stores/order";
import type order from "@/services/order";
import { useQueFoodStore } from "@/stores/quefoods";
import type QueFood from "@/types/Quefood";
import { onMounted } from "vue";
const orderStore = useOrderStore();
const queFoodStore = useQueFoodStore();
//const queStore = useCookStore();
const ServeStore = useServeStore();

onMounted(async () => {
  await ServeStore.getQuefoodsStatusServe("รอเสิร์ฟ");
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col></v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table fixed-header height="560px">
          <thead>
            <tr>
              <th style="text-align: center">โต๊ะ</th>
              <th style="text-align: center">รายการอาหาร</th>
              <th style="text-align: center">สถานะ</th>
              <th style="text-align: center"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of ServeStore.queserve" :key="index">
              <td style="text-align: center">
                {{ item.orderItems?.order?.table?.id }}
              </td>
              <td style="text-align: center">{{ item.orderItems?.name }}</td>
              <td style="text-align: center">{{ item.status }}</td>
              <td style="text-align: center">
                <v-btn
                  :disabled="false"
                  class="btnServe"
                  @click="ServeStore.serveQue(item.id!, index)"
                  >เสิร์ฟ</v-btn
                >
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.btnServe {
  background-color: #388e3c;
  color: aliceblue;
}
.btnDelete {
  background-color: #ff3030;
  color: aliceblue;
  justify-content: center;
}
</style>
