<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const userStore = useUserStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await userStore.saveUser();
  }
}
</script>
<template>
  <v-dialog v-model="userStore.dialog" persistent width="1024">
    <v-card>
      <v-container style="background-color: #d93d44"
        ><v-row>
          <v-col style="font-size: 50px; text-align: center; color: aliceblue"
            >ผู้ใช้งาน
          </v-col></v-row
        ></v-container
      >
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="อีเมล์*"
                  required
                  v-model="userStore.editedUser.email"
                  :rules="[
                    (v) => !!v || 'โปรดระบุอีเมล์',
                    (v) =>
                      /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                      'อีเมล์ไม่ถูกต้อง',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="ชื่อ-นามสกุล*"
                  required
                  v-model="userStore.editedUser.name"
                  :rules="[
                    (v) => !!v || 'โปรดระบุชื่อเเละนามสกุล',
                    (v) => v.length >= 3 || 'ความยาวไม่น้อยกว่า 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="รหัสผ่าน*"
                  type="password"
                  required
                  v-model="userStore.editedUser.password"
                  :rules="[
                    (v) => !!v || 'โปรดระบุรหัสผ่าน',
                    (v) =>
                      /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/.test(
                        v
                      ) || 'รหัสผ่านไม่ถูกต้อง',
                  ]"
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  label="ตำเเหน่ง*"
                  required
                  v-model="userStore.editedUser.role"
                  :rules="[
                    (v) => !!v || 'โปรดระบุตำเเหน่ง',
                    (v) => v.length >= 3 || 'ความยาวไม่น้อยกว่า 3',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*ระบุช่องที่ต้องการกรอก</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          variant="text"
          @click="userStore.dialog = false"
          style="font-size: 20px; background-color: #d93d44; color: aliceblue"
        >
          ยกเลิก
        </v-btn>
        <v-btn
          variant="text"
          @click="save"
          style="font-size: 20px; background-color: #388e3c; color: aliceblue"
          >บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
