<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { onMounted, ref, computed } from "vue";
import UserDialog from "./UserDialog.vue";

const userStore = useUserStore();

onMounted(async () => {
  await userStore.getUsers();
});

let search = ref("");

let filterItem = computed(function () {
  return userStore.users.filter((item) => {
    if (!search.value) return item;
    return item.name.toLowerCase().includes(search.value.toLowerCase());
  });
});
</script>
<template>
  <UserDialog></UserDialog>

  <v-container>
    <v-row>
      <v-col>
        <v-btn
          class="ma-1"
          @click="userStore.dialog = true"
          style="background-color: #6d6e6f; color: aliceblue"
          >เพิ่มข้อมูลผู้ใช้งาน</v-btn
        >
      </v-col>
      <v-col></v-col>
      <v-col>
        <v-text-field
          density="compact"
          variant="solo"
          label="ค้นหาผู้ใช้งาน"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12"
        ><v-table fixed-header height="560px">
          <thead>
            <tr>
              <th style="text-align: center">รหัสผู้ใช้งาน</th>
              <th style="text-align: center">ชื่อผู้ใช้งาน</th>
              <th style="text-align: center">อีเมล</th>
              <th style="text-align: center">ตำเเหน่ง</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of filterItem" :key="item.id">
              <td style="text-align: center">{{ item.id }}</td>
              <td style="text-align: center">{{ item.name }}</td>
              <td style="text-align: center">{{ item.email }}</td>
              <td style="text-align: center">{{ item.role }}</td>
              <td>
                <v-btn class="mr-5 btnEdit" @click="userStore.editUser(item)"
                  ><v-icon class="ma-2">mdi-pencil-box-multiple-outline</v-icon
                  >เเก้ไข</v-btn
                ><v-btn class="btnDel" @click="userStore.deleteUser(item.id!)"
                  ><v-icon class="ma-2"> mdi-trash-can-outline</v-icon>ลบ</v-btn
                >
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.btnEdit {
  background-color: #4caf50;
  color: aliceblue;
}
.btnDel {
  background-color: #d93d44;
  color: aliceblue;
}
</style>
