<script lang="ts" setup>
import { useTableStore } from "@/stores/table";
import { onMounted, ref, computed } from "vue";
import TableCRUD from "./TableCRUD.vue";
const tableStore = useTableStore();

onMounted(async () => {
  await tableStore.getTables();
});

const addTable = () => {
  tableStore.dialogCRUD = true;
};

let search = ref("");

let filterItem = computed(function () {
  return tableStore.tables.filter((item) => {
    if (!search.value) return item;
    //return item.table.toLowerCase().includes(search.value.toLowerCase());
    // return item.table.toLowerCase().includes(search.value.toLowerCase());
  });
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-btn
          class="ma-1"
          @click="addTable"
          style="background-color: #6d6e6f; color: aliceblue"
          >เพิ่มข้อมูลโต๊ะ</v-btn
        >
      </v-col>
      <v-col></v-col>
      <v-col>
        <v-text-field
          density="compact"
          variant="solo"
          label="ค้นหาโต๊ะ"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-table fixed-header height="560px">
          <thead>
            <tr>
              <th style="text-align: center">รหัสโต๊ะ</th>
              <th style="text-align: center">จำนวนที่นั่ง</th>
              <th style="text-align: center">สถานะ</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of filterItem" :key="item.id">
              <td style="text-align: center">{{ item.id }}</td>
              <td style="text-align: center">{{ item.seat }}</td>
              <td style="text-align: center">{{ item.status }}</td>
              <td>
                <v-btn class="mr-5 btnEdit" @click="tableStore.editTable(item)"
                  ><v-icon class="ma-2">mdi-pencil-box-multiple-outline</v-icon
                  >แก้ไข</v-btn
                ><v-btn class="btnDel" @click="tableStore.deleteTable(item.id!)"
                  ><v-icon class="ma-2"> mdi-trash-can-outline</v-icon>ลบ</v-btn
                >
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <TableCRUD></TableCRUD>
  </v-container>
</template>
<style scoped>
.btnEdit {
  background-color: #4caf50;
  color: aliceblue;
}
.btnDel {
  background-color: #d93d44;
  color: aliceblue;
}
</style>
