<script setup lang="ts">
import { useReceiptItemsStore } from "@/stores/receiptItems";

const recriptItemStore = useReceiptItemsStore();
</script>
<template>
  <v-dialog
    v-model="recriptItemStore.dialogSaveReciptItem"
    persistent
    width="1024"
  >
    <v-card>
      <v-container style="background-color: #d93d44"
        ><v-row>
          <v-col style="font-size: 50px; text-align: center; color: aliceblue"
            >วัตถุดิบเข้าร้าน
          </v-col></v-row
        ></v-container
      >
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="4">
                <v-text-field
                  label="ชื่อวัตถุดิบ*"
                  required
                  v-model="recriptItemStore.editSaveReceiptItem.name"
                  :rules="[(v) => !!v || 'โปรดระบุชื่อวัตถุดิบ']"
                ></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  label="จำนวนที่ซื้อ*"
                  required
                  v-model="recriptItemStore.editSaveReceiptItem.amount"
                  :rules="[(v) => parseInt(v) >= 0 || 'โปรดระบุจำนวนที่ซื้อ']"
                ></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  label="ราคาต่อหน่วย*"
                  required
                  v-model="recriptItemStore.editSaveReceiptItem.price"
                  :rules="[(v) => parseInt(v) >= 0 || 'โปรดระบุราคาต่อหน่วย']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          variant="text"
          style="font-size: 20px; background-color: #d93d44; color: aliceblue"
          @click="recriptItemStore.CancleSaveItem"
        >
          ยกเลิก
        </v-btn>
        <v-btn
          variant="text"
          style="font-size: 20px; background-color: #388e3c; color: aliceblue"
          @click="recriptItemStore.SavePushList()"
        >
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style scoped></style>
