<script setup lang="ts">
import { useStockStore } from "@/stores/stock";

const StockStore = useStockStore();
</script>
<template>
  <v-dialog v-model="StockStore.dialog" persistent width="1024">
    <v-card>
      <v-container style="background-color: #d93d44"
        ><v-row>
          <v-col style="font-size: 50px; text-align: center; color: aliceblue"
            >สต็อกวัตถุดิบ
          </v-col></v-row
        ></v-container
      >
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="4">
                <v-select
                  label="ชื่อพนักงาน*"
                  :items="['ธิดารัตน์', 'องอาจ', 'สพลดัย']"
                  required
                  v-model="StockStore.editedStock.nameEmp"
                  :rules="[(v) => !!v || 'โปรดระบุชื่อพนักงาน']"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small style="font-weight: bold">*ระบุช่องที่ต้องการกรอก</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          variant="text"
          @click="StockStore.dialog = false"
          style="font-size: 20px; background-color: #d93d44; color: aliceblue"
        >
          ยกเลิก
        </v-btn>
        <v-btn
          variant="text"
          @click="StockStore.saveStock()"
          style="font-size: 20px; background-color: #388e3c; color: aliceblue"
        >
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style scoped></style>
